* {
    transition: all 1s ease;
    font-family: sans-serif;
}

.container {
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #dedede;
    padding: 20px;
}

.div {
    width: 100px;
    height: 100px;
    margin: 50px;

    position: relative;


}

#div1 {
    background-color: cornflowerblue;
}

img {
    position: relative;
    top: 0;
    left: 0;
    margin: 0;
    width: 640px;
    height: 360px;
}

#blocImage1 {
    width: 640px;
    height: 360px;
    overflow: hidden;
}

#blocImage1 img:nth-child(2) {
    margin-top: -4px;
}