body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
}

h2 {
    padding: 20px;
    background-color: midnightblue;
    color: white;
}

#sommaire {background-color: cadetblue;}
#chapitre1 {background-color: steelblue;}
#chapitre2 {background-color: lightsteelblue;}
#chapitre3 { background-color: PowderBlue; }
#chapitre4 { background-color: LightBlue; }
#chapitre5 { background-color: SkyBlue; }
#chapitre6 { background-color: LightSkyBlue; }
#chapitre7 { background-color: DeepSkyBlue; }
#chapitre8 { background-color: DodgerBlue; }
#chapitre9 { background-color: CornflowerBlue; }
#chapitre10 { background-color: MediumSlateBlue; }
#chapitre11 { background-color: RoyalBlue; }
#chapitre12 { background-color: Blue; }
#chapitre13 { background-color: Navy; }
#chapitre14 { background-color: MidnightBlue; }